*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}

.nav {
    margin-right: 83px;
}

.nav li {
    font-weight: 700;
    color: #1c1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li:nth-child(3) {
    width: 125px;
    font-weight: 700;
    color: #1c1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.nav__list {
    display: flex;
    gap: 28px;
}

.nav__list >li{
   cursor: pointer;
}

.header__container {
    width: 100%;
    display: flex;
    align-items: center;
}

.img__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 43px;
}

.header__icon{
    max-width: 492px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__icon>img{
    cursor: pointer;
}



.container {
    max-width: 1088px;
    width: 100%;
    margin: auto;
    padding-right: 16px;
}

.introduction {
    background: #f0efeb;
}

.introduction__text-block {
    padding: 60px 0;
    max-width: 555px;
}

.introduction__container {
    display: flex;
}

.introduction__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}
button {
    border: none;
}

.introduction__button {
    color: #ffffff;
    background-color: #000000;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 23px;
    cursor: pointer;
    border-radius: 100px;
}

.introduction__img {
    width: 600px;
    height: 520px;
}

.container__userinfo {
    max-width: 1088px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.userinfo__title {
    width: 692px;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    align-self: center;
    margin-top: 60px;
}

.userinfo__text {
    width: 650px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    align-self: center;
    padding: 27px 0 47px 0;
}


.iserinfo__texttwo {
    width: 371px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    align-self: center;
}

.imgtext__title {
    display: flex;
    width: 256px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.imgtext__text1 {
    max-width: 155px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin:27px auto;
}

.imgtext__text2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 17px auto;
}

.userinfo__button {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
    cursor: pointer;
    text-decoration: underline;
    cursor: pointer;
    background-color: white;
}

.userinfo__img-text1  {
    display: flex;
    padding-top: 87px;
    justify-content: center;
}
.userinfo__img-text2  {
    display: flex;
    padding-top: 51px;
}

.img-text__box1 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.img-text__box2 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.img-text__box3 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.people{
    background: rgba(204, 204, 204, 0.3);
    margin-top: 245px;
}

.container__people-info{
    display: flex;
}

.container__people-img{
    margin: 76px 0 50px 188px;
}

.container__people-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 30px;
}

.container__people-text{
    max-width: 498px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 21px 0 10px 0;
}

.container__people-button {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    cursor: pointer;
}

.container__people-container{
    margin: 83px 0 0 50px;
}

.culture{
    background: rgba(204, 204, 204, 0.6);
}

.container__culture-info{
    display: flex;
}

.container__culture-container{
    margin: 104px 0 0 285px;
    text-align: right;
}

.container__culture-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 63px;
}

.container__culture-text{
    max-width: 513px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 31px 0;
}

.container__culture-button {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__culture-img{
    margin: 76px 0 50px 50px;
}

.power{
    background: rgba(204, 204, 204, 0.3);
}

.container__power-info{
    display: flex;
}

.container__power-img{
    margin: 76px 0 50px 188px;
}


.container__power-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 63px;

}

.container__power-text{
    max-width: 530px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 31px 0 39px;
}

.container__power-button {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
    cursor: pointer;
}

.container__power-container{
    padding-top: 105px ;
    margin-left: 50px;
}

/* .color1{
    width: 70px;
	height: 70px;
	background: rgba(33, 247, 236, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
    position: relative;
}

.color1>p{
    position: absolute;
    top: 100px;
    display: flex;
align-items: center;
justify-content: center;
}

.color2{
    width: 70px;
	height: 70px;
	background: rgba(51, 211, 188, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color3{
    width: 70px;
	height: 70px;
	background: rgba(24, 165, 198, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color4{
    width: 70px;
	height: 70px;
	background: rgba(211, 143, 98, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color5{
    width: 70px;
	height: 70px;
	background: rgba(249, 76, 67, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color6{
    width: 70px;
	height: 70px;
	background: rgba(211, 153, 255, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
} */




.container_color{
    padding:190px 80px 0;
    display: grid;
    flex-direction: column;
    padding-bottom: 52px;
}

.container_color-text1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    justify-self: center;
}

.container_color-text2{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    justify-self: center;
}

.color_info{
    width: 100%;
    height: 555px;
    padding-top: 70px;
}

.color_info1{
    width: 70px;
	height: 70px;
	background: rgba(33, 247, 236, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color_info2{
    width: 70px;
	height: 70px;
	background: rgba(51, 211, 188, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color_info3{
    width: 70px;
	height: 70px;
	background: rgba(24, 165, 198, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color_info4{
    width: 70px;
	height: 70px;
	background: rgba(211, 143, 98, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color_info5{
    width: 70px;
	height: 70px;
	background: rgba(249, 76, 67, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.color_info6{
    width: 70px;
	height: 70px;
	background: rgba(211, 153, 255, 1);
	-moz-border-radius: 50px;
	border-radius: 50px;
    align-self: center;
}

.container-color_info1{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.container-color_info2{
    display: flex;
    justify-content: space-between;
    margin: 110px 0;
    gap: 24px;
}

.text1-color_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    padding-top: 26px;
    text-align: center;
}

.color_info-color{
    display: flex;
    flex-direction: column;
    width: 338px;
    height: 167px;
}

.text2-color_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    padding-top: 26px;
    text-align: center;
}

.text3-color_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    padding-top: 26px;
    text-align: center;
} 

.text4-color_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    padding-top: 26px;
    text-align: center;
}

.text5-color_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    padding-top: 26px;
    text-align: center;
}

.text6-color_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(0, 0, 0, 1);
    padding-top: 26px;
    text-align: center;
}

.interviews{
    margin-top: 52px;
    width: 100%;
    height: 100%;
    position: relative;
    /* background: linear-gradient(to bottom ,#ffffff 50% ,  #F0F0F0 50% ); */
}

.interviews::after{
    content: "";
    width: 100%;
    height: 50%;
    background: #F0F0F0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
}

.container__interviews1-text1{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.container__interviews1-text2{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}

.container__interviews2{
    display: flex;
    padding: 102px 0 52px;
    gap: 100px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container__interviews2-img{
    width: 288px;
    height: 616px;
}

.container__interviews2-title1{
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding-top: 35px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
}

.container__interviews2-text2{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding-top: 40px;
    
}

.container__interviews2-text4{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding-top: 40px;
}

.container__interviews2-button {
    max-width: 74px;
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    margin-top: 52px;
    position: relative;
    left:100px;
    top:0;
    cursor: pointer;
    text-decoration: underline;
}

.container__interviews2-title2{
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding-top: 35px;
    color: rgba(0, 0, 0, 1);
}

.container__interviews2-title3{
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding-top: 35px;
    color: rgba(0, 0, 0, 1);
}

.container__interviews2-text6{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding-top: 40px;
}

.registration{
    display: flex;
    flex-direction: column;
}

.container__registration{    
    margin: auto;
}

.registration__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 79px;
}

.registration__text{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding-top: 9px;
}

.registration__input{
    padding-top: 25px;
   flex-wrap: wrap;
   margin: auto;
   text-align: center;
}

.registration__input1{
    width: 153px;
    height: 39px;
    border: solid #000000 1px;
    margin-right: 60px;
}

.registration__input2{
    width: 153px;
    height: 39px;
    border: solid #000000 1px;
}

.registration__input3{
    width: 366px;
    height: 39px;
    border: solid #000000 1px;
    margin-top: 18px;
}

input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 76px 11px 8px;
    color: #A0A0A0;
}

.registration__button{
    width: 115px;
    height: 33px;
    border-radius: 100px;
    border: 1px solid #000000;
    background: #000000;
    color: #FFFFFF;
    margin: 16px 0 88px 0;
    align-items: center;
    margin-bottom: 88px;
}

.footer{
    background-color: #020202;
    display: flex;
    width: 100%;
}

.container__footer-img{
    width: 487px;
    height: 146px;
    margin: 50px 227px 94px 148px;
}

.container__footer{
    max-width: 1144px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.container__footer-ul{
    width: 215px;
    height: 180px;
    flex-direction: column;
    color: #f0efeb;
}

.container__footer-a{
    width: 215px;
    height: 180px;
    flex-direction: column;
    color: #f0efeb;
}

.footer__img1 {
cursor: pointer;
}

.footer__img2{
    margin: 25px 20px 0 0;
    cursor: pointer;
}

.footer__img3{
    margin: 25px 20px 0 0;
}

.container__footer-text1{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.container__footer-ul{
    margin-top: 50px;
}

.container__footer-li{
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    gap: 12px;
    cursor: pointer;
    color: #FFFFFF;
}

.container__footer-li>li{
    cursor: pointer;
}

.container__footer-text2{
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.container__footer-a1{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    
}

.container__footer-a2{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.container__footer-a{
    margin-top: 50px;
}

.container__footer-link{
    margin-top: 36px;
    gap: 12px;
}

.container__footer-link>a{
    cursor: pointer;
}

@media only screen and (max-width:1200px){
    .container__culture-img{
        width: 315px;
      }

      .container__power-img{
        width: 315px;
      }

      .container__footer-a{
        width: 100px;
      }

      .container__footer-li{
        width: 100px;
      }
}

@media only screen and (max-width:992px){

    .header__container{
padding: 0 16px 0 16px;
    }

    .introduction__text-block{
        padding: 60px 0 0 16px;
    }

    .img-text__box1 img {
        max-width: 250px;
        width: 100%;
    }

    .img-text__box2 img{
        max-width: 250px;
        width: 100%;
    }

    .img-text__box3 img{
        max-width: 250px;
        width: 100%;
    }

    .container__people-info img{
        max-width: 250px;
        width: 100%;
    }

    .container__people-img{
        margin: 76px 0 50px 90px;
    }

    .container__culture-img{
        max-width: 250px;
        width: 100%;
        margin: 76px 50px 50px 50px;
    }

    .container__power-img{
        max-width: 250px;
        width: 100%;
    }

    .container__people-container{
        padding: 0 50px 83px 0;
    }

    .container__culture-container{
        margin: 52px 0 0 140px;
        padding: 0 50px 83px 0;
      }

      .container__power-container{
        padding: 0 83px 50px 0;
      }

    .color_info{
        max-width: 850px;
    }

    .img__logo{
        margin-right: 30px;
    }

    .container__interviews2-img img{
        width: 250px;
    }

    .container__interviews2{
        width: 100%
    }

    .container__footer{
        max-width: 900px;
    }

    .container__footer-img{
        margin: 50px 100px 94px 70px;
    }

}


@media only screen and (max-width:768px){
    .introduction__container{
        flex-direction: column;
    }

    .img__logo{
        margin-right:0 30px 0 0;
    }

    .introduction__text-block{
        padding: 30px;
        max-width: 100%;
    }
    .userinfo__img-text2{
        display: flex;
        flex-direction: column;
    }

    .introduction__title{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 22px;
    }

    .container__culture-container{
        margin: 25px 0 0 70px;
    }

    .container__power-container{
        padding: 0 40px 25px 0;
    }

    .container__power-img{
        margin: 50px 0 50px 90px;
    }

    .color_info{
        max-width: 670px;
    }

    .container_color{
        margin: 90px 40px 25px;
        padding: 0;
    }

    .container__interviews1{
        background: #F0F0F0 ;
    }

    .container__interviews2{
display: flex;
flex-direction: column;
background: #F0F0F0 ;
    }

    .container__footer-img{
       margin: 50px 0 50px 70px;
       max-width: 300px;
    }
}

@media only screen and (max-width:552px){

    .header__container{
        max-width: 450px;
        display: flex;
        flex-direction: column;
    }

    .nav__list{
        margin: 0 auto;
    }

    .img__logo{
        margin: 20px 30px 0;
    }

    .header__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
   
    .introduction__img{
     width: 450px;
    }

    .userinfo__title{
        max-width: 450px;
    }

    .userinfo__text{
        max-width: 450px;
    }

    .container__people-img{
        display: none;
    }

    .container__culture-img{
        display: none;
    }

    .container__power-img{
        display: none;
    }

    .container_color-text1{
        max-width: 450px;
        display: flex;
    }

    .container_color-text2{
        max-width: 450px;
    }

    .container-color_info1{
        display: flex;
        max-width: 450px;
        /* flex-direction: column; */
    }

    .container-color_info2{
        display: flex;
        max-width: 450px;
        /* flex-direction: column; */
    }

    .color_info3{
        min-height: 36px;
    }

    .color_info4{
        min-height: 36px;
    }

    .container__footer-img{
        max-width: 150px;
    }
}

@media only screen and (max-width:390px){
    .introduction__img{
        max-width: 400px;
    }

    .userinfo__text{
        max-width: 380px;
    }

    .container_color-text1{
        max-width: 300px;
    }

    .container_color-text2{
        max-width: 300px;
    }

    .color_info-color{
        max-width: 100px;
    }

    .text3-color_info{
        max-height:131px ;
    }
}