*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 15px 0;
}

.nav {
    margin-right: 83px;
}

.nav li {
    font-weight: 700;
    color: #1c1b1b;
}

ul {
    list-style: none;
}

.nav__list {
    display: flex;
    gap: 28px;
}
.header__container {
    display: flex;
    align-items: center;
}

.img__logo {
    margin-right: 370px;
}

.container {
    max-width: 1088px;
    margin: auto;
    padding: 0 16px;
}

.introduction {
    background: #f0efeb;
}

.introduction__text-block {
    padding: 60px 0;
    max-width: 555px;
}

.introduction__container {
    display: flex;
}

.introduction__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}
button {
    border: none;
}

.introduction__button {
    color: #ffffff;
    background-color: #000000;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 23px;
    cursor: pointer;
    border-radius: 100px;
}

.introduction__img {
    width: 600px;
    height: 520px;
}

.container__userinfo {
    max-width: 1088px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.userinfo__title {
    width: 692px;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    align-self: center;
    padding-top: 60px;
}

.userinfo__text {
    width: 650px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    align-self: center;
    padding: 27px 0 47px 0;
}


.iserinfo__texttwo {
    width: 371px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    align-self: center;
}

.imgtext__title {
    display: flex;
    width: 256px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.imgtext__text1 {
    max-width: 155px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin:20px auto;
}

.imgtext__text2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 17px auto;
}

.imgtext__link1{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
    text-decoration: underline;
}

.userinfo__img-text1  {
    display: flex;
    padding-top: 87px;
    justify-content: center;
}
.userinfo__img-text2  {
    display: flex;
    padding-top: 51px;
}

.img-text__box1 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.img-text__box2 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.img-text__box3 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.people{
    background: rgba(204, 204, 204, 0.3);
    margin-top: 245px;
}

.container__people-info{
    display: flex;
}

.container__people-img{
    margin: 76px 0 50px 188px;
}

.container__people-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    padding-top: 60px;
}

.container__people-text{
    max-width: 498px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    padding: 31px 0 40px;
}

.container__people-link{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__people-container{
    margin: 83px 0 0 50px;
}

.culture{
    background: rgba(204, 204, 204, 0.6);
}

.container__culture-info{
    display: flex;
}

.container__culture-container{
    margin: 104px 0 0 285px;
    text-align: right;
}

.container__culture-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 63px;
}

.container__culture-text{
    max-width: 513px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 31px 0;
}

.container__culture-link{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__culture-img{
    margin: 76px 0 50px 50px;
}

.power{
    background: rgba(204, 204, 204, 0.3);
}

.container__power-info{
    display: flex;
}

.container__power-img{
    margin: 76px 0 50px 188px;
}


.container__power-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 63px;

}

.container__power-text{
    max-width: 530px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 31px 0 39px;
}

.container__power-link{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__power-container{
    padding-top: 105px ;
    margin-left: 50px;
}

.container_color{
    padding:190px 80px 0;
    display: grid;
    flex-direction: column;
}

.container_color-text1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    justify-self: center;
}

.container_color-text2{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    justify-self: center;
}

.color_info{
    width: 100%;
    height: 555px;
    padding-top: 70px;
}

.color_info1{
    width: 70px;
	height: 70px;
	background: rgba(33, 247, 236, 1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.color_info2{
    width: 70px;
	height: 70px;
	background: rgba(51, 211, 188, 1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.color_info3{
    width: 70px;
	height: 70px;
	background: rgba(24, 165, 198, 1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.color_info4{
    width: 70px;
	height: 70px;
	background: rgba(211, 143, 98, 1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.color_info5{
    width: 70px;
	height: 70px;
	background: rgba(249, 76, 67, 1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.color_info6{
    width: 70px;
	height: 70px;
	background: rgba(211, 153, 255, 1);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.container-color_info1{
    display: flex;
    justify-content: space-around;
}