*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    padding: 15px 0;
}

.nav {
    margin-right: 83px;
}

.nav li {
    font-weight: 700;
    color: #1c1b1b;
}

ul {
    list-style: none;
}

.nav__list {
    display: flex;
    gap: 28px;
}
.header__container {
    display: flex;
    align-items: center;
}

.img__logo {
    margin-right: 370px;
}

.container {
    max-width: 1088px;
    margin: auto;
    padding: 0 16px;
}

.introduction {
    background: #f0efeb;
}

.introduction__text-block {
    padding: 60px 0;
    max-width: 555px;
}

.introduction__container {
    display: flex;
}

.introduction__title {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 42px;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 26px;
}
button {
    border: none;
}

.introduction__button {
    color: #ffffff;
    background-color: #000000;
    font-size: 17px;
    line-height: 20px;
    padding: 8px 23px;
    cursor: pointer;
    border-radius: 100px;
}

.introduction__img {
    width: 600px;
    height: 520px;
}

.container__userinfo {
    max-width: 1088px;
    margin: auto;
text-align: center;
}

.userinfo__title {
    width: 692px;
    font-size: 36px;
    padding-top: 60px;
    line-height: 42px;
    margin:auto;
    color: #000000;
}

.userinfo__text {
    width: 650px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    padding: 27px 0 47px 0;
    margin: auto;
}


.iserinfo__texttwo {
    width: 371px;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: auto;
}

.imgtext__title {
    width: 256px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 87px 0 51px 0;
    margin: auto;
}

.imgtext__text1 {
    max-width: 155px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin:20px auto;
}

.imgtext__text2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    margin: 17px auto;
}

.imgtext__link1{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
    text-decoration: underline;
}

.userinfo .img-text {
    display: flex;
    padding-top: 52px;
}

.img-text__box1 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.img-text__box2 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.img-text__box3 {
    width: 315px;
    height: 585px;
    margin: auto;
}

.people{
    background: rgba(204, 204, 204, 0.3);
    margin-top: 245px;
}

.container__people-info{
    display: flex;
}

.container__people-img{
    margin: 76px 0 50px 188px;
}

.container__people-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    padding-top: 60px;
}

.container__people-text{
    max-width: 498px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    padding: 31px 0 40px;
}

.container__people-link{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__people-container{
    margin: 83px 0 0 50px;
}

.culture{
    background: rgba(204, 204, 204, 0.6);
}

.container__culture-info{
    display: flex;
}

.container__culture-container{
    margin: 104px 0 0 285px;
    text-align: right;
}

.container__culture-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 63px;
}

.container__culture-text{
    max-width: 513px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 31px 0;
}

.container__culture-link{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__culture-img{
    margin: 76px 0 50px 50px;
}

.power{
    background: rgba(204, 204, 204, 0.3);
}

.container__power-info{
    display: flex;
}

.container__power-img{
    margin: 76px 0 50px 188px;
}


.container__power-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin-top: 63px;

}

.container__power-text{
    max-width: 530px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    margin: 31px 0 39px;
}

.container__power-link{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}

.container__power-container{
    padding-top: 105px ;
    margin-left: 50px;
}

.container_color{
    padding:190px 80px 0;
}

.container_color-text1{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
    justify-content: center;
}

.container_color-text2{
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: rgba(0, 0, 0, 1);
}